body, html {
    background: #000; 
    font-family: "Poppins", sans-serif;
}
li,a{
    list-style: none;
    text-decoration: none;
}
/* start signIn */
.signIn {
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255,255,255,0.1);
}

.form-control {
    background: rgba(255,255,255,0.1) !important;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff !important;
}


label {
    color: #ccc !important;
}

.btn-login {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: yellow;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    opacity: 0.8;
}
.register-note {
    font-size: 14px;
}

.register-note a {
    text-decoration: none;
    font-weight: bold;
}

.register-note a:hover {
    color:rgba(255, 255, 0, 0.781);
}
/* end signIn */
/* start register */
.register {
    min-height: 10 0vh;
    display: flex;
    align-items: center;
    background: #000;
}
.register-box {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255,255,255,0.1);
}
.form-control {
    background: rgba(255,255,255,0.1) !important;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff !important;
}

label {
    color: #ccc !important;
}
.btn-register {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 8px;
      background: yellow;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-register:hover {
    opacity: 0.8;
}
.login-note {
    font-size: 14px;
}

.login-note a {
    text-decoration: none;
    font-weight: bold;
}

.login-note a:hover {
    color: #6c63ff;
}
/* end register */
/* &&&&Global&&& */
@media (max-width:557px) {
  .row{
  margin-left: 55px !important;
}
.row.all-areas {
  margin-left: 0 !important;
}
}

.items .layer{
position: absolute;
width:100%;
height: 100%;
top: 100%;
left: 0;
background-color: rgb(249 246 246 / 80%);
transition: 0.5s;
color: #000;
cursor: pointer;
}
 .items:hover .layer{
    top:0;
}
/*! start sideBar */
aside{
    position: fixed;
    min-height: 100vh;
    top: 0;
  left: 0;
      color: #fff;
      z-index: 99999;
}
.close{
    max-width: 0;
    opacity: 0;
    height: 0;
}
.open{
    max-width: 250px;
     opacity: 1;
    height: 100vh;
}
aside .side-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition: max-width 0.5s ease, opacity 0.5s ease, height 0.5s ease;
    animation-duration: 5s;
overflow: hidden; 
}
aside .side-left ul li  {
    margin-block: 35px;
    cursor: pointer;
}
aside .side-left .icons{
display: flex;
flex-wrap: wrap;
gap: 10px;
font-size: 18px;
}
aside .side-left .icons li{
    margin-block: 0;
    cursor: pointer;
}
aside .side-left .icons p{
    font-size: 14px;
}
aside .side-right{
    max-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    padding-inline: 10px;
    font-size: 22px;
    align-items: center;
}
aside .side-right i{
cursor: pointer;
}
aside .side-right img{
    width: 50px ;
    margin-top: 20px;
}
aside .side-right .ico-bottom i {
    font-size: 18px;
    margin-bottom:25px;
}
aside .logo{
  cursor: pointer;
}
/*! end sideBar */
/*$$$$$$$ the home$$$$ */
.home img,.categories img,.sortOfCatagorious img,.area,.areaMeals img,.Ingredients,.integrediensMeals img{
  cursor: pointer;
}
.home .container .inputs .form-control{
    background-color: #000 !important;
}
.form-control:focus{
    border-color: #777;
    box-shadow: 0 0 0.25rem yellow;
}
.Ingredients .row{
  margin-left: 22px !important;
}
/* the search */
.inputs{
  margin-left: 50px !important;
}
/* ^^^^^^^start details^^^^^^^^ */
.details .recpis li{
    background-color: #777;
    margin: 5px 8px;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
}
/* ^^^^^^^end details^^^^^^^^ */
/* _________start Area Page__________ */
.area i{
    font-size: 80px;
    color: #fff;
}
/* _________end Area Page__________ */
/* *******start Ingredients*********** */
.Ingredients i{
    font-size: 80px;
}
/* *******end Ingredients*********** */
/* spinner */
   .loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 48px;
  color: #fff;
  position: fixed;     
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  z-index: 9999;       
   }
      
        .loader:before,
        .loader:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: rotateX(70deg);
          animation: 1s spin linear infinite;
        }
        .loader:after {
          color: #FF3D00;
          transform: rotateY(70deg);
          animation-delay: .4s;
        }

      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
        }
      }

      @keyframes rotateccw {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(-360deg);
        }
      }

      @keyframes spin {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }
   
.animate__animated.animate__backInLeft{
  animation-duration: 1s !important;
}